<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifued Output</title><link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
</head>
<body>
  
  {% include 'navbar.html' %}

      <main style="background-color: #ffefef;">
        <div class="row" style="height: 90vh;">
          <div class="col" style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
            <div class="card" style="width: 300px; padding: 30px 10px; background-color: rgba(0,0,0,0.5); color: #fff;">
              <img src="{% static '/images/hero-logo.jpeg' %}" alt="" class="rounded-4 img-fluid">
              <div class="mb-3">
                <h4 class="pt-4">
                  Input Image
                </h4 >
                <p>
                  Classified as: Ct Image with a Tumour
                </p>
                <a href="/segment" class="btn btn-danger">Segment</a>
              </div>
            </div>
          </div>
        </div>
      </main>

      <script src="{% static '/node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    
</body>
</html>