<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert</title>
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
</head>
<body>

  {% include 'navbar.html' %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h4>
      {{message}}
    </h4>
    <br />
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
      <div class="container" style="display: flex; height: 90vh; align-items: center; justify-content: center; background-color: #ffefef;">
        <main class="card " style="width: 400px; padding: 30px 15px; background: rgba(0,0,0,0.6); color: #fefedf;" >
            <h2>
                Convert Dicom to Jpeg Files
            </h2>
            <div class="mb-3">
                <form action="{url 'convert'}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{form.as_p}}
                      <a type="submit" class="btn btn-success" href="convert/output">Submit</a>
                </form>
          </main>
      </div>

      <script src="{% static '/node_modules/bootstrap/dist/js/bootstrap.bundle.js'%}"></script>
    
</body>
</html>