<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css'%}">
</head>

<body>
    <div class="bg-secondary">
        <main class="container-lg">
          <div class="row">
              <div class="col-lg-4 mt-3" style="color: #fefedf;">
                  <h2>
                      Medical Segmenter
                  </h2>
                  <p>
                      Medical Segmenter is a medical image segmentation and classification tool that enables you to quickly and easily segment and classify medical images.
                  </p>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-12 pt-4 pb-3">
                  <ul class="list-group">
                      <li class="list-group-item bg-secondary-subtle text-center text-black">Quick links</li>
                      <li class="list-group-item bg-secondary-subtle"><a href="./segment" class="nav-link">Segment</a></li>
                      <li class="list-group-item bg-secondary-subtle"><a href="./classify" class="nav-link">Classify</a></li>
                      <li class="list-group-item bg-secondary-subtle"><a href="./project" class="nav-link">Project</a></li>
                  </ul>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-12 pb-4 pt-4">                  
                  <ul class="list-group">
                      <li class="list-group-item bg-secondary-subtle">Ms.Shabana Fathima</li>
                      <li class="list-group-item bg-secondary-subtle">Ms. Ruth Angel</li>
                      <li class="list-group-item bg-secondary-subtle">Ms. Nirosha</li>
                      <li class="list-group-item bg-secondary-subtle">Ms. Vinothini</li>
                  </ul>
              </div>
          </div>
        </main>
      </div>
      <script src="{% static '/node_modules/bootstrap/dist/js/bootstrap.bundle.js'%}"></script>
</body>