<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segment Output</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="./index.html">Med Segment</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="./classify.html">Classify</a>
              <a class="nav-link" href="./segment.html">Segment</a>
              <a class="nav-link" href="./project.html">Project</a>
              <a class="nav-link disabled" aria-disabled="true">Learn More</a>
            </div>
          </div>
        </div>
      </nav>

      <div class="main">
        <div class="container">

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
        </div>
      </div>

      <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>