<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segment Output</title>
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
</head>
<body>
    
  {% include 'navbar.html' %}

      <div class="main">
        <div class="container">

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img src="" alt="input">
            </div>
            <div class="col">
              <img src="" alt="output">
            </div>
          </div>
        </div>
      </div>

      <script src="{% static '/node_modules/bootstrap/dist/js/bootstrap.bundle.js'%}"></script>
</body>
</html>